body {
    margin: 0;
    margin-top: 0px;
    background-color: #ececec;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(37, 37, 37);
    box-shadow: 1px 1px 10px;
}

li {
    text-decoration:none;
    text-align:center;
    padding: 20px;
    color: #ffffff;
}